# to change language of repo from Javascript to Python
*.java linguist-language=Java
*.java linguist-detectable=true
*.php linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false
